body{
	padding: 0px;
	background: #ddd9d1;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0.02em;
}

/*nav*/
.navbar {
	position: relative;
	min-height: 110px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	margin: 0px;
}

.navbar-inverse{
	background: #9d978d;
	border: none;

	.navbar-nav > li > a{
		color: #fff;
	}
}

.navbar-logo{
	margin-top: 25px;
}

#menu-mainnav {
	margin-top: 47px;
}