body{
	padding: 0px;
	background: #ddd9d1;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0.02em;
}

/*nav*/

.header {
	background: #9d978d;
}

.navbar {
	position: relative;
	min-height: 110px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	margin: 0px;
}

.navbar-inverse{
	background: #9d978d;
	border: none;

	.navbar-nav > li > a{
		color: #fff;
		padding: 10px;
	}
}

.navbar-logo{
	margin: 15px 0px 15px 70px;
}

#menu-mainnav {
	margin-top: 63px;
	margin-right: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: inherit;
	color: #d9cdb0;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: #fff;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 7px;
	left: 10px;
}

.dropdown-menu {
	position: absolute;
	font-size: 12px;
	background-color: #36332d;
	border: 0px;
	border-radius: 0px;
	.ralewaySemiBold;
}

.dropdown-menu>li> {
	a{
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		color: #908979;
		white-space: nowrap;
	}
	a:hover{
		background-color: inherit;
		color: #fff;
	}

	a:focus {
		background-color: inherit;
		color: #fff;
	}
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	background-color: inherit;
	color: #fff
}

.navbar-inverse .navbar-nav > li {
	> a {
		color: #3b3931;
	}

	> a:hover{
		color: #d9cdb0;
	}
}


.navbarmenu{
	text-transform: uppercase;
	font-size: 12px;
}

.catalog-download-button{
	.baskervilleNormal;
	position: absolute;
	right: 54px;
	top: 0px;
	height: 65px;
	width: 70px;
	text-align: center;
	font-size: 8px;
	background: #57504b;
	padding: 0px 5px;
	a{
		color: #c7bca2;
	}
	a:hover{
		text-decoration: none;
		color: #c7bca2;
	}
	.download-button{
		padding-top: 25px;
	}
	.catalog-download-borderline{
		border: 1px solid #908979;
		margin-bottom: 10px;
	}

	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}